
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Estate &mdash; Free HTML5 Bootstrap Website Template by FreeHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />



   
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


    <div id="fh5co-page">
        <header id="fh5co-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="header-inner">
                        <h1><a href="index.html">GAYRİMENKUL<span>.</span></a></h1>
                        <nav role="navigation">
                            <ul>
                                <li><a href="buy.html">Satın Al</a></li>
                                <li><a href="rent.html">Kiralık</a></li>
                                <li><a href="properties.html">İlanlar</a></li>
                                <li class="cta"><a href="contact.html">İletişime Geç</a></li>
                                <li class="cta"><a href="contact.html">Kayıt Ol</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Ana sayfa slider kısmı -->
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li style="background-image: url(images/sea-view_2.png);">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
                                <div class="fh5co-property-brief-inner">
                                    <div class="fh5co-box">
                                        <h3><a href="#">Deniz Manzaralı Lüks Villa</a></h3>
                                        <div class="price-status">
                                            <span class="price">1.250.000 TL <a href="#" class="tag">Satılık</a></span>
                                        </div>
                                        <p>Muhteşem deniz manzarasına sahip, özel havuzlu ve geniş bahçeli lüks villa. Şehrin gürültüsünden uzak, sakin bir yaşam.</p>
                                        <p class="fh5co-property-specification">
                                            <span><strong>350</strong> m²</span> <span><strong>4</strong> Oda</span> <span><strong>3</strong> Banyo</span> <span><strong>2</strong> Otopark</span>
                                        </p>
                                        <p><a href="#" class="btn btn-primary">Daha Fazla Bilgi</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/modern_flat_in_the_city_center_3.png);">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
                                <div class="fh5co-property-brief-inner">
                                    <div class="fh5co-box">
                                        <h3><a href="#">Şehir Merkezinde Modern Daire</a></h3>
                                        <div class="price-status">
                                            <span class="price">4.500 TL<span class="per">/Ay</span> <a href="#" class="tag">Kiralık</a></span>
                                        </div>
                                        <p>Şehir merkezinde, toplu ulaşıma yakın, modern tasarımlı 2+1 daire. Konforlu ve pratik bir yaşam için ideal.</p>
                                        <p class="fh5co-property-specification">
                                            <span><strong>120</strong> m²</span> <span><strong>2</strong> Oda</span> <span><strong>1</strong> Banyo</span>
                                        </p>
                                        <p><a href="#" class="btn btn-primary">Daha Fazla Bilgi</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/_little_modern_work_office_in_the_city_center.png);">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
                                <div class="fh5co-property-brief-inner">
                                    <div class="fh5co-box">
                                        <h3><a href="#">Merkezi Konumda Ofis</a></h3>
                                        <div class="price-status">
                                            <span class="price">9.000 TL<span class="per">/Ay</span> <a href="#" class="tag">Kiralık</a></span>
                                        </div>
                                        <p>İş merkezlerinin kalbinde, prestijli bir binada, modern ofis alanı. İşinizi büyütmek için ideal bir lokasyon.</p>
                                        <p class="fh5co-property-specification">
                                            <span><strong>200</strong> m²</span> <span><strong>4</strong> Oda</span> <span><strong>2</strong> Toplantı Odası</span>
                                        </p>
                                        <p><a href="#" class="btn btn-primary">Daha Fazla Bilgi</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- İlanlar/Fırsatlar kısmı  -->
        <div id="best-deal">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
                        <h2>En İyi Gayrimenkul Fırsatlarını Sunuyoruz</h2>
                        <p>Uzak diyarlarda, kelime dağlarının ardında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşar. </p>
                    </div>

                    <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">


                        <div class="fh5co-property">
                            <figure>
                                <img src="images/sea_view_villa.png" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
                                <a href="#" class="tag">For Sale</a>
                            </figure>
                            <div class="fh5co-property-innter">
                                <h3><a href="#">Villa In Hialeah, Dade County</a></h3>
                                <div class="price-status">
                                    <span class="price">$540,000 </span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>
                            </div>
                            <p class="fh5co-property-specification">
                                <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                            </p>
                        </div>


                    </div>
                    <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

                        <div class="fh5co-property">
                            <figure>
                                <img src="images/slide_2.jpg" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
                                <a href="#" class="tag">For Rent</a>
                            </figure>
                            <div class="fh5co-property-innter">
                                <h3><a href="#">15 Apartments Of Type B</a></h3>
                                <div class="price-status">
                                    <span class="price">$2,000<span class="per">/month</span> </span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>
                            </div>
                            <p class="fh5co-property-specification">
                                <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                            </p>
                        </div>

                    </div>

                    <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-property">
                            <figure>
                                <img src="images/slide_1.jpg" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
                                <a href="#" class="tag">For Sale</a>
                            </figure>
                            <div class="fh5co-property-innter">
                                <h3><a href="#">401 Biscayne Boulevard, Miami</a></h3>
                                <div class="price-status">
                                    <span class="price">$1,540,000</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>
                            </div>
                            <p class="fh5co-property-specification">
                                <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Hakkımızda kısmı  -->
        <div class="fh5co-section-with-image">

            <img src="images/image_1.jpg" alt="" class="img-responsive">
            <div class="fh5co-box animate-box">
                <h2>Güvenlik, Konfor, &amp; Kolaylık</h2>
                <p>Modern yaşamın gereksinimlerini karşılayan güvenli, konforlu ve kolay erişilebilir gayrimenkul seçenekleri sunuyoruz.</p>
                <p><a href="#" class="btn btn-primary btn-outline with-arrow">Başlayın <i class="icon-arrow-right"></i></a></p>
            </div>

        </div>

        <div id="fh5co-testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
                        <h2>Müşteri Memnuniyetleri</h2>
                        <p>Müşterilerimizin deneyimleri, başarımızın temelini oluşturur.</p>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <blockquote>
                            <p>&ldquo;Yeni evimizi bulmamızda gösterdiğiniz profesyonel destek için çok teşekkür ederiz. Süreç boyunca her adımda yanımızdaydınız ve tüm sorularımızı sabırla yanıtladınız.&rdquo;</p>
                            <p><span class="fh5co-author"><cite>Ayşe ve Mehmet Yılmaz</cite></span></p>
                        </blockquote>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <blockquote>
                            <p>&ldquo;Yatırım amaçlı bir daire arıyorduk ve ekibiniz bize piyasa hakkında çok değerli bilgiler verdi. Doğru kararı vermemize yardımcı oldular. Kesinlikle tavsiye ederim.&rdquo;</p>
                            <p><span class="fh5co-author"><cite>Can Demir</cite></span></p>
                        </blockquote>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <blockquote>
                            <p>&ldquo;Kiralık ev bulmak bizim için her zaman stresli bir süreç olmuştur. Ancak sizin sayenizde çok kısa sürede ideal evi bulduk. Hızlı ve etkili hizmetiniz için teşekkürler.&rdquo;</p>
                            <p><span class="fh5co-author"><cite>Elif Kaya</cite></span></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-agents">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
                        <h2>Güvenilir Emlak Danışmanlarımız</h2>
                        <p>Müşterilerimize en iyi hizmeti sunan deneyimli ve uzman kadromuzla tanışın.</p>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-agent">
                            <figure>
                                <img src="images/woman.png" alt="Ayşe Yılmaz">
                            </figure>
                            <h3>Ayşe Yılmaz</h3>
                            <p>Konut ve ticari gayrimenkul alanlarında uzman, bölgeyi iyi tanıyan ve müşteri odaklı bir danışman.</p>
                            <p><a href="mailto:ayse.yilmaz@email.com" class="btn btn-primary btn-outline">İletişime Geç</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-agent">
                            <figure>
                                <img src="images/man.jpg" alt="Mehmet Demir">
                            </figure>
                            <h3>Mehmet Demir</h3>
                            <p>Yatırım gayrimenkulleri konusunda deneyimli, portföy yönetimi ve finansal analiz konularında uzman.</p>
                            <p><a href="mailto:mehmet.demir@email.com" class="btn btn-primary btn-outline">İletişime Geç</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-agent">
                            <figure>
                                <img src="images/woman 2.png" alt="Elif Kaya">
                            </figure>
                            <h3>Elif Kaya</h3>
                            <p>Kiralama ve emlak yönetimi konusunda uzman, müşteri memnuniyetine odaklı bir danışman.</p>
                            <p><a href="mailto:elif.kaya@email.com" class="btn btn-primary btn-outline">İletişime Geç</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <!-- Blog kısmı  -->
        <div id="fh5co-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
                        <h2>En Son Blog Yazılarımız</h2>
                        <p>Gayrimenkul sektörüyle ilgili en güncel haberler, ipuçları ve analizler.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                        <a class="fh5co-entry" href="#">
                            <figure>
                                <img src="images/trend_estate.jpg" alt="Emlak Piyasasındaki Son Trendler" class="img-responsive">
                            </figure>
                            <div class="fh5co-copy">
                                <h3>Emlak Piyasasındaki Son Trendler</h3>
                                <span class="fh5co-date">26 Ekim 2023</span>
                                <p>Son aylarda emlak piyasasında gözlenen hareketlilik ve geleceğe yönelik beklentiler hakkında detaylı bir analiz.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                        <a class="fh5co-entry" href="#">
                            <figure>
                                <img src="images/buy_a_home.png" alt="Ev Satın Alırken Dikkat Edilmesi Gerekenler" class="img-responsive">
                            </figure>
                            <div class="fh5co-copy">
                                <h3>Ev Satın Alırken Dikkat Edilmesi Gerekenler</h3>
                                <span class="fh5co-date">19 Ekim 2023</span>
                                <p>Ev satın alırken nelere dikkat etmeniz gerektiği, bütçe planlamasından lokasyon seçimine kadar önemli ipuçları.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                        <a class="fh5co-entry" href="#">
                            <figure>
                                <img src="images/investment.png" alt="Yatırım İçin En Karlı Bölgeler" class="img-responsive">
                            </figure>
                            <div class="fh5co-copy">
                                <h3>Yatırım İçin En Karlı Bölgeler</h3>
                                <span class="fh5co-date">12 Ekim 2023</span>
                                <p>Gayrimenkul yatırımı yapmak isteyenler için yükselişte olan ve gelecekte değer kazanması beklenen bölgeler.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Daha Fazla Göster <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- İletişim formu kısmı   -->
        <div class="fh5co-cta" style="background-image: url(images/cta_background.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
                    <h3>Hayallerinizdeki Evi Bulun</h3>
                    <p>En güncel emlak ilanlarımıza göz atın ve uzman danışmanlarımızla iletişime geçin.</p>
                    <p><a href="#" class="btn btn-primary btn-outline with-arrow">İlanlara Göz At <i class="icon-arrow-right"></i></a></p>
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer id="fh5co-footer" role="contentinfo">

            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3>Hakkımızda</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem magna, vehicula at lorem nec, posuere semper libero. Maecenas sed diam eget risus porta condimentum.</p>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Daha Fazla Bilgi <i class="icon-arrow-right"></i></a></p>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <h3> hizmetlerimiz</h3>
                        <ul class="float">
                            <li><a href="#">Web Tasarım</a></li>
                            <li><a href="#">Branding & Kimlik</a></li>
                            <li><a href="#">Ücretsiz HTML5 Şablonları</a></li>
                            <li><a href="#">El Yapımı Şablonlar</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <h3>Bizi Takip Edin</h3>
                        <ul class="fh5co-social">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-12 fh5co-copyright text-center">
                    <p>&copy; <?php echo date("Y"); ?> Emlak Firması. Tüm Hakları Saklıdır. <span>Tasarım & <i class="icon-heart"></i> <a href="#">Emlak Firması</a> | Demo Görselleri <a href="https://unsplash.com/" target="_blank">Unsplash</a></span></p>
                </div>

            </div>
        </footer>
    </div>


    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- MAIN JS -->
    <script src="js/main.js"></script>

</body>
</html>

